
<div class="about-container">
	<h5>{{site.data.settings.client.name}}</h5>
	<div class="client-image-container">
	<img src="{{site.data.settings.images.client_headshot_path }}" alt="{{site.data.settings.client.company}}" class="client-image" />
	</div><br />
	{{site.data.settings.client.about_markdown | markdownify }}
	<p>
		<b>{{ site.data.settings.client.name }}</b><br />
		{% if site.data.settings.client.license_number != null %}
		#{{ site.data.settings.client.license_number }}</br>
		{% endif %}
		<!-- {{ site.data.settings.client.brand }}<br /> -->
		{% if site.data.settings.client.brokerage != null %}
		{{ site.data.settings.client.brokerage }}<br />
		{% endif %}
		<img src="/img/logo.png" alt="" style="max-width: 250px; padding: 10px 0"><br>
		<a href="mailto:{{ site.data.settings.client.email2 }}>{{ site.data.settings.client.email }}</a><br>
		{{ site.data.settings.client.address }}<br />
		<a href="http://{{ site.data.settings.client.url }}" target="_blank"><b>{{ site.data.settings.client.url }}</b></a><br />
		<a href="http://{{ site.data.settings.client.url2 }}" target="_blank"><b>{{ site.data.settings.client.url2 }}</b></a><br /><br>
		<b>{{ site.data.settings.client.service }}</b><br>
		{{ site.data.settings.client.phone }}<br />
		<a href="mailto:{{ site.data.settings.client.email }}"><b>{{ site.data.settings.client.email }}</b></a><br>
		<!-- <br>
		<strong>{{ site.data.settings.client.service2 }}</strong><br>
		{{ site.data.settings.client.phone2 }}<br />-->


	</p>

	<!--<img src="https://www.epsteinfinancial.com/files/structure/401k_logo.svg" alt="401k" id="sidebar-logo">-->
</div>
