<div class="container-fluid footer">
	    <div class="row">
				<div class="col-lg-2 col-sm-offset-2">
					{% for nav in site.data.settings.family_CFO_tab %}
					<a class="footer-links" href="{{nav.link_url}}"><b>Family CFO® Process</b></a><br>
					<a class="footer-links" href="{{nav.link_url}}">{{ nav.link_name }}</a>
				{% endfor %}<br><br>
					<a class="footer-links" href="https://www.epsteinfinancial.com/corporate-401k.html">
						<b>Corporate 401K</b>
					</a><br>
					{% for nav in site.data.settings.corporate_401k_tab %}
					<a class="footer-links" href="{{nav.link_url}}">{{ nav.link_name }}</a><br>
				{% endfor %}
				</div>
				<div class="col-lg-2">
					<a class="footer-links" href="https://www.epsteinfinancial.com/our-company.html"><b>About</b></a><br>
						{% for nav in site.data.settings.about_tab %}
						<a class="footer-links" href="{{nav.link_url}}">{{ nav.link_name }}</a><br>
						{% endfor %}<br>
							<a class="footer-links" href="https://www.epsteinfinancial.com/free-book-offer.html"><img class="footer-img" src="https://www.epsteinfinancial.com/files/content/home/paychecks_book.png" alt="" />
							<img class="footer-img" src="https://www.epsteinfinancial.com/files/content/home/save_america_book.png" alt="" /><br>
							FREE BOOK OFFER</a>
				</div>
				<div class="col-lg-4">
					<b><a class="footer-links" href="tel:413-539-2374">413-539-2374</a> | <a class="footer-links" href="https://www.epsteinfinancial.com/contact.html">Contact</a></b><br>
					Epstein Financial Services<br>
					330 Whitney Avenue, Suite 610 Holyoke, MA 01040<br><br>
					<a href="http://www.the401kcoach.com/"><img class="footer-img-right" src="https://www.epsteinfinancial.com/files/structure/401k_logo.svg" alt="" /><a>
					<a href="https://www.rpag.com/"><img class="footer-img-right" src="https://www.epsteinfinancial.com/files/structure/logo_RPAG.png" alt="" /></a>
					<a href="http://www.umass.edu/fambiz/"><img class="footer-img-right" src="https://www.epsteinfinancial.com/files/structure/umass_fbc_logo.png" alt="" /></a>
				</div>
	  <!-- <div class="attribution">
			{% if site.data.settings.client.brand != null %}
				<p>&copy;{{ site.time | date: '%Y' }} {{site.data.settings.client.brand}}</p>
			{% else %}
				<p>&copy;{{ site.time | date: '%Y' }} {{site.data.settings.client.name}}</p>
			{% endif %}
	    Proudly Brought To You By
	    <a href="http://getvyral.com" target="_blank">
				Vyral Marketing</a><br>
				<a class="footer-links" href="http://getvyral.com" target="_blank">
	    <svg id="Layer_1" class="vyral-logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.06 82.39"><path d="M225,427.63a39.49,39.49,0,0,0-34.46,58.8l-1.47,2.86L178.43,510l21.11-9.85,2.27-1.06A39.49,39.49,0,1,0,225,427.63Zm5.68,62.7H218.79l-14.42-45h11.15l5.47,19c1.54,5.34,2.94,10.48,4,16.09h0.2c1.13-5.41,2.54-10.75,4.07-15.89L235,445.34h10.81Z" transform="translate(-178.43 -427.63)"/></svg></a>
	    </a>
	  </div> -->
</div>
	</div>

<!-- </footer> -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://use.fontawesome.com/3958139b47.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/js/media-player.js"></script>
