<div class="container-fluid footer-2">
<div class="row">
<div class="col-sm-8 col-sm-offset-2">

	<p>&copy;{{ site.time | date: '%Y' }} Epstein Financial Services all rights reserved.<br><br>

		Financial planning services are offered through Epstein Financial Services, a registered investment advisor. Services offered through Epstein Financial Services, are not sponsored or offered through MMLInvestors Services, LLC. MML Investors Services, LLC does not endorse, nor is it responsible for the information provided hereunder.<br><br>

		<b>Save America Save!</b><br>
		Throughout the course of this book there are particular references that the author makes to the financial concept of creating “Paychecks for Life.”<br><Br>

			The author’s reference to Paychecks for Life is not an actual W-2 paycheck that you would receive from an employer. It refers to a concept of creating an income stream from your retirement plan throughout your lifetime after you have stopped working.<Br><br>

				There is no guarantee implied by the author that this income will be created if you do invest in your 401(k) plan. The reader should understand that withdrawals from a 401(k) are not a guaranteed amount and there is no guarantee that by saving money in your 401(k) plan you will be assured of a retirement income for life. Withdrawals from a 401(k) plan differ markedly from earning results from a salary of wages (a paycheck) because this type of income is not generated in the same manner and differs in how much income is generated, growth potential, tax treatment and renewability.<br><br>

				The readers should always seek the advice of a knowledgeable financial advisor and or accountant when planning their retirement and matters pertaining to their personal taxes.</p>
</div>
</div>
</div>
